$dark-blue: #305069;
$blue: #397ec1;
$light-blue: #e8f1ff;
$dark-writing: #231f52;
$grey: #aaaaaa;

@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Light.ttf") format("truetype");
  font-weight: lighter;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "Almarai";
  src: url("../fonts/Almarai-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
}

* {
  font-family: Almarai, sans-serif;
}
body {
  margin: 0;
  direction: rtl;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  :visited {
    color: black;
  }
}
.flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.center {
  justify-content: center;
}
.align {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.title {
  width: fit-content;
  margin: 0 auto;
  margin: 0 auto 50px;
  h2 {
    color: $dark-writing;
    margin: 0;
    opacity: 1;
    width: fit-content;
    padding: 0 40px;
    text-align: center;
  }
  div {
    color: #305069;
    font-size: 29px;
    background: #305069 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 18px;
    opacity: 0.06;
    width: fit-content;
    height: 20px;
    width: 100%;
    margin-top: -20px;
  }
}

header {
  nav {
    padding: 0 11.5vw;
    height: 100px;
    align-items: center;
    span {
      display: none;
      font-size: 22px;
      color: $dark-blue;
      cursor: pointer;

      @media (max-width: 960px) {
        display: initial;
      }
    }
    img {
      width: 13.5vw;
      margin-left: 30px;
      @media (max-width: 830px) {
        width: 20vw;
      }
      @media (max-width: 570px) {
        width: 30vw;
      }
      @media (max-width: 350px) {
        width: 40vw;
      }
    }
    ul.flex {
      flex-grow: 1;
      li {
        padding: 10px;
        display: flex;
        align-items: center;
        @media (max-width: 960px) {
          border-bottom: 1px solid lightgray;
        }
        a {
          color: $dark-blue;
          font-size: 18px;
          font-weight: bold;
        }
        .active {
          color: $blue;
          text-decoration: underline;
        }
      }

      #servicesMenu,
      #projectsMenu {
        display: none;
        position: absolute;
        top: 75px;
        background-color: white;
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
        z-index: 1;
        @media (max-width: 960px) {
          top: 120px;
        }

        li {
          border-bottom: 1px solid lightgray;
        }
      }
      #servicesMenu {
        @media (max-width: 960px) {
          top: 120px;
        }
      }
      #projectsMenu {
        @media (max-width: 960px) {
          top: 267px;
        }
      }
      @media (max-width: 960px) {
        position: absolute;
        width: 40%;
        padding: 20px;
        flex-direction: column;
        top: 84px;
        background-color: white;
        border: 1px solid black;
        border-radius: 3px;
        right: 0;
        display: none;
        z-index: 1;
      }
      @media (max-width: 410px) {
        width: 80%;
      }
    }
    @media (max-width: 1155px) {
      padding: 0px 5vw;
    }
  }
}
ul.flex.appear {
  @media (max-width: 960px) {
    display: initial;
  }
}
ul.flex #servicesMenu.appearDropMenu,
ul.flex #projectsMenu.appearDropMenu {
  display: initial;
}

//index main
main {
  .banner {
    padding: 50px 11.5vw;
    min-height: 615px;
    background-color: $light-blue;
    @media (max-width: 1155px) {
      padding: 0px 5vw;
    }
    @media (max-width: 650px) {
      flex-direction: column-reverse;
    }
    .right-sec {
      width: 50%;
      color: $dark-writing;
      @media (max-width: 650px) {
        margin: 50px 0;
        width: 100%;
      }
      span {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 20px;
      }
      div {
        font-size: 35px;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        color: $dark-blue;
        font-weight: 600;
      }
      a {
        background-image: linear-gradient(260deg, #397ec1, #1d3f61);
        color: white;
        border-radius: 30px;
        border: none;
        width: fit-content;
        padding: 20px;
        transition: all 0.5s;
        &:hover {
          background-image: linear-gradient(260deg, #1d3f61, #397ec1);
        }
      }
    }
    img {
      width: 50%;
      height: fit-content;
      @media (max-width: 650px) {
        width: 60%;
        margin: 30px 0;
      }
    }
  }
  .sub-banner {
    min-height: unset;
    margin: 50px 11.5vw;
    padding: 50px 10vw;
    box-shadow: 0px 3px 20px #00000029;
    border-radius: 18px;
  }

  .logos {
    padding: 20px 11.5vw;
    box-shadow: 0px 3px 15px #00000029;
    @media (max-width: 650px) {
      justify-content: center;
    }
    img {
      width: 12%;
      filter: grayscale(100%);
      opacity: 0.5;
      transition: all 0.5s;
      @media (max-width: 840px) {
        width: 17%;
      }
      @media (max-width: 650px) {
        width: 25%;
        padding: 0 1%;
        object-fit: contain;
      }

      &:hover {
        transform: scale(1.3);
        filter: none;
        opacity: 1;
      }
    }
  }
  .complete-organization {
    padding: 150px 11.5vw;
    @media (max-width: 1155px) {
      padding: 150px 5vw;
    }
    @media (max-width: 800px) {
      flex-direction: column-reverse;
      align-items: center;
    }
    img {
      width: 40%;
      @media (max-width: 800px) {
        margin-bottom: 50px;
      }
    }
    .right-sec {
      color: $dark-writing;
      width: 40%;
      @media (max-width: 800px) {
        width: 90%;
      }
      div {
        font-size: 35px;
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        color: $grey;
        font-weight: 600;
      }
    }
  }
  .vision {
    padding: 0px 11.5vw;
    margin-bottom: 50px;
    @media (max-width: 1155px) {
      padding: 0px 5vw;
    }
    .card {
      position: relative;
      width: 28%;
      padding-bottom: 10px;
      margin-bottom: 50px;
      @media (max-width: 850px) {
        width: 100%;
        display: flex;
      }
      @media (max-width: 415px) {
        flex-direction: column;
        align-items: center;
      }

      img[alt="background img"] {
        width: 85%;
        float: left;

        @media (max-width: 850px) {
          width: 28%;
          float: none;
          margin-left: 20px;
        }
        @media (max-width: 620px) {
          width: 45%;
          float: none;
          margin-left: 20px;
        }
      }
      img[alt="shape"] {
        position: absolute;
        top: -3vw;
        right: 0px;
        width: 2.5vw;
        @media (max-width: 1155px) {
          right: 0.5vw;
        }
        @media (max-width: 850px) {
          display: none;
        }
      }
      .text {
        position: absolute;
        width: 62.5%;
        background-color: white;
        bottom: -10px;
        padding: 13px;
        border-radius: 10px;
        color: $dark-blue;
        height: 155px;
        @media (max-width: 850px) {
          position: unset;
        }

        h3 {
          font-size: 16px;
          font-weight: 200;
          margin-top: 0;
        }
        p {
          margin: 0;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
  }
  .services {
    padding: 0px 11.5vw;
    margin-bottom: 100px;
    @media (max-width: 1155px) {
      padding: 0px 5vw;
    }
    .swiper-wrapper {
      height: fit-content;
      padding-bottom: 75px;
      .swiper-slide {
        .service-card {
          padding: 20px;
          border-radius: 30px 5px;
          h3 {
            font-size: 18px;
            color: $dark-blue;
            text-align: center;
          }
          p {
            font-weight: 600;
            text-align: center;
          }
        }
        &:nth-child(4n + 1) {
          .service-card {
            background-color: rgba(57, 126, 193, 0.1);
          }
        }
        &:nth-child(4n + 2) {
          .service-card {
            background-color: rgba(238, 23, 23, 0.1);
          }
        }
        &:nth-child(4n + 3) {
          .service-card {
            background-color: rgba(253, 220, 44, 0.1);
          }
        }
        &:nth-child(4n + 4) {
          .service-card {
            background-color: rgba(0, 254, 68, 0.1);
          }
        }
      }
    }
    .swiper-pagination-bullet {
      width: 27px;
      height: 27px;
      background-color: #aaaaaa;
    }
    .swiper-pagination-bullet-active {
      background-image: linear-gradient(260deg, #397ec1, #1d3f61);
    }
  }
  .app {
    padding: 0px 11.5vw;
    margin-bottom: 70px;
    @media (max-width: 750px) {
      justify-content: center;
    }
    img {
      width: 30%;
      @media (max-width: 750px) {
        margin-bottom: 30px;

        width: 50%;
      }
    }
    .left-sec {
      width: 50%;
      @media (max-width: 750px) {
        width: 80%;
      }
      h2 {
        color: $blue;
        font-size: 18px;
      }
      p {
        color: #aaaaaa;
      }
      form {
        position: relative;
        width: fit-content;
        @media (max-width: 750px) {
          width: 100%;
        }
        input {
          background: #efefef 0% 0% no-repeat padding-box;
          border-radius: 30px 5px 5px 30px;
          border: none;
          width: 30vw;
          height: 55px;
          padding: 0 20px;
          @media (max-width: 750px) {
            width: 100%;
          }
        }
        button {
          position: absolute;
          padding: 20px;
          left: 0;
          border-radius: 30px;
          border: none;
          height: 55px;
          background-image: linear-gradient(260deg, #397ec1, #1d3f61);
          color: white;
          &:hover {
            background-image: linear-gradient(260deg, #1d3f61, #397ec1);
          }
        }
      }
      a {
        img {
          margin: 0 10px;
          transition: all 0.5s;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
.sub-page {
  .secondary-banner {
    position: relative;
    min-height: 30vw;
    height: fit-content;
    background-image: url(../img/Group\ 2539.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (max-width: 780px) {
      min-height: 40vw;
    }
    @media (max-width: 450px) {
      min-height: 55vw;
    }

    img {
      position: absolute;
    }
  }
  .goals-banner {
    img {
      width: 30%;
      bottom: -0.055vw;
      @media (max-width: 780px) {
        width: 40%;
        bottom: -0.2vw;
      }
      @media (max-width: 450px) {
        bottom: -0.2vw;
        width: 55%;
      }
    }
  }
  .vision-banner {
    img {
      width: 60%;
      bottom: -7.3vw;
      @media (max-width: 780px) {
        width: 75%;
        bottom: -9.1vw;
      }
      @media (max-width: 450px) {
        bottom: -10.2vw;
        width: 88%;
      }
    }
  }
  .care-banner {
    img {
      width: 30%;
      bottom: 0vw;
      @media (max-width: 780px) {
        width: 40%;
      }
      @media (max-width: 450px) {
        width: 60%;
      }
    }
  }

  .about-us-banner {
    img {
      width: 40%;
      bottom: -6.4vw;
      @media (max-width: 780px) {
        width: 50%;
        bottom: -8vw;
      }
      @media (max-width: 450px) {
        bottom: -10.2vw;
        width: 63%;
      }
    }
  }
  .service-banner {
    img {
      width: 40%;
      bottom: 0vw;
      @media (max-width: 780px) {
        width: 50%;
      }
      @media (max-width: 450px) {
        width: 70%;
      }
    }
  }
  .safety-banner {
    img {
      width: 23%;
      bottom: -4.8vw;
      @media (max-width: 780px) {
        width: 30%;
        bottom: -6.2vw;
      }
      @media (max-width: 450px) {
        bottom: -9.2vw;
        width: 45%;
      }
    }
  }
  .shafae-banner {
    img {
      width: 90%;
      bottom: -0.1vw;
    }
  }
  .about-us {
    padding: 0px 11.5vw;
    margin: 100px 0;
    @media (max-width: 1155px) {
      padding: 0px 5vw;
    }
    p {
      color: $grey;
      font-weight: 600;
    }
    .imgs {
      margin-top: 100px;
      @media (max-width: 430px) {
        justify-content: center;
      }

      img {
        width: 20%;
        @media (max-width: 700px) {
          width: 45%;
        }
        @media (max-width: 430px) {
          width: 70%;
        }
      }
    }
  }
  .vision-messege {
    @media (max-width: 850px) {
      justify-content: center;
    }

    .card {
      width: 45%;
      background: #f8f8f8 0% 0% no-repeat padding-box;
      box-shadow: 0px 3px 23px #00000029;
      border-radius: 10px;
      align-items: flex-start;
      padding: 1.5%;
      @media (max-width: 850px) {
        width: 80%;
        margin-bottom: 40px;
      }
      img {
        margin-left: 15px;
        margin-top: 35px;
        width: 20%;
      }
      .text {
        margin-top: 20px;
      }
    }
  }
  .partners {
    flex-wrap: wrap;
    margin-bottom: 225px;
    @media (max-width: 450px) {
      justify-content: center;
    }
    .partner-card {
      width: 28%;
      box-shadow: 0px 3px 23px #00000029;
      border-radius: 10px;
      padding: 1.5%;
      margin-bottom: 30px;
      @media (max-width: 800px) {
        width: 45%;
      }
      @media (max-width: 450px) {
        width: 80%;
      }
      img {
        width: 100%;
        display: flex;
        align-items: flex-start;
      }
    }
  }
  .news {
    flex-wrap: wrap;
    margin-bottom: 225px;
    @media (max-width: 900px) {
      justify-content: center;
    }
    .new-card {
      width: 28%;
      box-shadow: 0px 3px 23px #00000029;
      border-radius: 10px;
      padding: 1.5%;
      margin-bottom: 30px;
      @media (max-width: 900px) {
        width: 80%;
        padding: 3%;
      }

      img {
        width: 100%;
        height: 245px;
        object-fit: none;
      }
      h3 {
        color: $dark-writing;
      }
      p {
        color: $grey;
      }
    }
  }

  .goals {
    @media (max-width: 540px) {
      justify-content: center;
    }
    .goal-card {
      width: 25%;
      padding: 20px;
      border-radius: 30px 5px;
      margin-bottom: 30px;
      @media (max-width: 960px) {
        width: 38%;
      }
      @media (max-width: 540px) {
        width: 60%;
      }
      &:nth-child(4n + 1) {
        background-color: rgba(57, 126, 193, 0.1);
      }
      &:nth-child(4n + 2) {
        background-color: rgba(238, 23, 23, 0.1);
      }
      &:nth-child(4n + 3) {
        background-color: rgba(253, 220, 44, 0.1);
      }
      &:nth-child(4n + 4) {
        background-color: rgba(0, 254, 68, 0.1);
      }
      p {
        color: black;
        height: fit-content;
      }
    }
  }
  .safety {
    width: 70%;
    @media (max-width: 860px) {
      width: 85%;
    }
    .step {
      width: 90%;
      border: 1px dashed #fbfbfb;
      background: #fbfbfb 0% 0% no-repeat padding-box;
      border: 1px dashed #397ec1;
      border-radius: 13px;
      margin-bottom: 20px;
      padding: 20px 5%;
      @media (max-width: 445px) {
        flex-direction: column;
      }

      span {
        color: $dark-writing;
        line-height: 50px;
        font-size: 50px;
        font-weight: 600;
        margin: 0 20px;
      }
      p {
        color: $dark-writing;
      }
    }
  }
  .sport {
    position: relative;
    margin-bottom: 320px;
    img {
      position: absolute;
      left: 60px;
      width: 60%;
    }
  }
  .contact {
    @media (max-width: 700px) {
      justify-content: center;
    }
    .right-sec {
      width: 45%;

      @media (max-width: 700px) {
        width: 100%;
        align-items: center;
      }
      img {
        width: 25vw;
        margin-bottom: 50px;
        @media (max-width: 700px) {
          width: 40vw;
        }
      }
      p {
        margin-bottom: 30px;
      }
      ul {
        li {
          display: flex;
          align-items: center;
          color: $grey;
          font-weight: 600;
          margin-bottom: 25px;
          img {
            width: 25px;
            margin: 0;
            margin-left: 10px;
          }
        }
      }
    }
    form {
      width: 45%;
      margin: 100px 0;
      @media (max-width: 700px) {
        width: 100%;
        align-items: center;
      }
      input,
      textarea {
        width: 100%;
        border: 0.5px solid #397ec1;
        border-radius: 9px;
        padding: 15px;
        margin-bottom: 20px;
      }
      input {
        height: 50px;
      }
      textarea {
        resize: vertical;
      }
      button {
        height: 50px;
        width: fit-content;
        border-radius: 25px;
        padding: 20px 30px;
        left: 0;
        border-radius: 25px;
        border: none;
        background-image: linear-gradient(260deg, #397ec1, #1d3f61);
        color: white;
      }
    }
  }
  .hotline {
    background-image: linear-gradient(260deg, #397ec1, #1d3f61);
    color: white;
    line-height: 50px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    direction: ltr;
    padding: 5% 14%;
    border-radius: 10px;
    margin-top: 100px;
    @media (max-width: 400px) {
      line-height: 35px;
    }
    span {
      font-size: 56px;
      @media (max-width: 400px) {
        font-size: 35px;
      }
    }
  }
  .services-page {
    direction: rtl;
    margin: 100px 0;
    .services-sec {
      .swiper-container {
        width: 100%;
        height: fit-content;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 30px;
        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: 35%;
          height: fit-content;
          margin-bottom: 30px;
          .swiper-slide-shadow-left,
          .swiper-slide-shadow-right {
            background-image: none;
          }

          .service-card {
            border: 1px solid $grey;
            border-radius: 30px;
            @media (max-width: 890px) {
              width: 80%;
              margin: auto;
            }

            img {
              width: 100%;
              height: 300px;
              object-fit: cover;
            }
            p {
              padding: 0 30px;
              font-weight: 600;
            }
            button {
              height: 50px;
              width: fit-content;
              padding: 20px 30px;
              left: 0;
              border-radius: 25px;
              border: none;
              background-image: linear-gradient(260deg, #397ec1, #1d3f61);
              color: white;
              margin-bottom: 30px;
              cursor: pointer;
            }
          }
        }
        .swiper-slide-prev {
          transform: translate3d(0px, 0px, 0px) rotate(8deg) scale(1) !important;
        }
        .swiper-slide-next {
          transform: translate3d(0px, 0px, 0px) rotate(-8deg) scale(1) !important;
        }
      }

      .swiper-pagination-bullet {
        width: 27px;
        height: 27px;
        background-color: #aaaaaa;
      }
      .swiper-pagination-bullet-active {
        background-image: linear-gradient(260deg, #397ec1, #1d3f61);
      }
    }
  }
}
footer {
  .light-back {
    background-color: $light-blue;
    color: $blue;
    min-height: 300px;
    padding: 50px 11.5vw;
    flex-wrap: wrap;
    img.logo {
      width: 13.5vw;
      height: fit-content;
      @media (max-width: 900px) {
        width: 40vw;
        margin: 0 25vw 50px 25vw;
      }
      @media (max-width: 450px) {
        width: 60vw;
        margin: 0 15vw 50px 15vw;
      }
    }
    .sec {
      @media (max-width: 900px) {
        width: 50%;
        margin-bottom: 50px;
      }
      @media (max-width: 475px) {
        width: 100%;
        margin-bottom: 50px;
      }
    }
    h2 {
      margin-top: 0;
      font-size: 18px;
    }
    li {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
      a {
        color: $blue;
      }
      :hover {
        color: coral;
      }
      ul {
        width: 50%;
        img {
          width: 19px;
        }
      }
    }
    @media (max-width: 1155px) {
      padding: 50px 5vw;
    }
  }
  .dark-section {
    background-color: $blue;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 11.5vw;
    ul {
      flex-wrap: wrap;
      li {
        font-weight: 600;
        margin-right: 15px;
        a {
          color: white;
        }
        @media (max-width: 390px) {
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
        }
      }
    }
  }
}
